# Node / Expo / React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
dist/
build/
.expo/*
*.expo/*
*.apk
*.aab

# Editor/OS
.DS_Store
Thumbs.db
.vscode/

# Backend uploads (generados)
backend/uploads/

# Env & secrets
.env
*.env
backend/.env
frontend/.env

# Locks opcionales (puedes dejarlos si quieres)
# package-lock.json
# yarn.lock
